.showPasswordButton {
  position: absolute;
  right: 0;
  top: 50%;
  translate: -80% -60%;
  background: none;
  border: none;
  cursor: pointer;
}

.passwordInputWrapper {
  position: relative;

  input {
    flex: 1;
    padding-right: 3rem;
  }
}
