.item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: rem(32);
  color: var(--color-green-alt);

  @include mobile {
    font-size: rem(14);
  }
}

.link {
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: rem(2);
    background-color: var(--color-green-alt);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: var(--transition-duration);
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}
