.container {
  padding-top: rem(180);
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: rem(32);
  position: relative;

  @include tablet {
    grid-template-columns: 1fr;
    padding-top: rem(120);
  }

  .articleCreationPanelCounter {
    position: absolute;
    left: rem(32);
    translate: 0 100%;

    @include tablet {
      left: 0;
      translate: 0 -120%;
    }

    @include mobile {
      left: auto;
      translate: 0 -131.8%;
    }
  }
}

.breadcrumbs {
  margin-bottom: rem(30);
}

.sidebar {
  width: fit-content;
  grid-area: aside;
  grid-column: 2 / 3;
  grid-row: 1 / 5;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include tablet {
    display: none;
  }

  @include mobile {
    width: 100%;
    display: flex;
    grid-row: auto;
    grid-column: auto;

    ul {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .upgradeBanner {
    height: auto;

    @include mobile {
      position: absolute;
      top: -16px;
      left: 0;
      translate: 0 -100%;
    }
  }
}
