.formGroup {
  margin-bottom: rem(36);
  display: flex;
  flex-direction: column;
  gap: rem(13);

  @include mobile {
    margin-bottom: rem(20);
  }

  label {
    padding-left: rem(24);
    font-weight: 700;
    font-size: rem(15);
    color: var(--color-orange);
  }

  .select {
    padding: rem(14) rem(24);
    border: 2px solid #e3e7d4;
    border-radius: 16px;
    background-color: transparent;
    font-weight: 700;
    font-size: rem(20);
    color: var(--color-green-alt);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;

    @include mobile {
      padding: rem(12) rem(24);
      font-size: rem(16);
    }
    option {
      background-color: var(--color-black);
      color: var(--color-green-alt);
    }

    &:has(:default:checked) {
      color: var(--color-orange);
    }
  }
}

.errorInput {
  border-color: #ff4d4f;
}

.errorMessage {
  padding-left: rem(24);
  color: #ff4d4f;
  font-size: 0.875rem;
}

.dropdownToggle {
  background-color: var(--color-green-alt);
}
