.icon {
  transition: var(--transition-duration);
  color: var(--color-green-alt);
}

.strikeThrough {
  opacity: 1;
  transition: var(--transition-duration);
  transform-origin: center;
}

.visible {
  .strikeThrough {
    opacity: 0;
    transform: scaleX(0);
  }
}
