.counter {
  width: fit-content;
  padding: rem(18) rem(24);
  background-color: var(--color-orange);
  border: 2px solid var(--color-black);
  border-radius: 24px;

  @include tablet {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: rem(10) rem(14);
    justify-self: end;
    height: fit-content;
    position: absolute;
  }

  @include mobile {
    padding: rem(12) rem(14);
    border-radius: 8px;
    display: flex;
    text-wrap: nowrap;
  }
}

.text {
  font-weight: 700;
  font-size: rem(36);
  color: #000;

  @include tablet {
    font-size: rem(16);
  }

  @include mobile {
    visibility: hidden;
    font-size: 0;
  }
}

.count {
  font-weight: 700;
  font-size: rem(36);
  color: #e3e7d4;

  @include tablet {
    font-size: rem(16);
  }
}
