.container {
  max-width: rem(464);
  margin: 0 auto;
  padding-top: rem(80);
}

.title {
  @include flex-center;
  width: rem(344);
  height: rem(72);
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-orange);
  border: 2px solid var(--color-black);
  border-radius: 24px;
  font-weight: 700;
  font-size: rem(36);
  color: #000;

  @include mobile {
    width: rem(247);
    height: rem(48);
    font-size: rem(24);
  }
}

.subtitle {
  margin-bottom: rem(16);
  font-weight: 700;
  font-size: rem(20);
  text-align: center;
  color: var(--color-green-alt);

  @include mobile {
    font-size: rem(16);
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: rem(36);
  display: flex;
  flex-direction: column;
  gap: rem(13);

  @include mobile {
    margin-bottom: rem(20);
  }

  label {
    padding-left: rem(24);
    font-weight: 700;
    font-size: rem(15);
    color: var(--color-orange);
  }

  input {
    padding: rem(14) rem(24);
    border: 2px solid #e3e7d4;
    border-radius: 16px;
    background-color: transparent;
    font-weight: 700;
    font-size: rem(20);
    color: var(--color-green-alt);

    @include mobile {
      padding: rem(12) rem(24);
      font-size: rem(16);
    }
  }
}

.errorInput {
  border-color: #ff4d4f;
}

.errorMessage {
  padding-left: rem(24);
  color: #ff4d4f;
  font-size: 0.875rem;
}

.passwordInputWrapper {
  position: relative;
  display: flex;

  input {
    flex: 1;
    padding-right: 3rem;
  }
}

.showPasswordButton {
  position: absolute;
  right: 0;
  top: 50%;
  translate: -80% -50%;
  background: none;
  border: none;
  cursor: pointer;
  color: #1890ff;
}

.submitButton {
  height: rem(48);
  margin-top: rem(4);
  margin-bottom: rem(20);
  border: 2px solid var(--color-green-alt);
  border-radius: 16px;
  background-color: var(--color-green);
  font-weight: 400;
  font-size: rem(20);
  text-align: center;
  color: #000;
  transition: var(--transition-duration);

  &:hover {
    background-color: var(--color-black-alt);
    color: var(--color-white);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @include mobile {
    margin-top: rem(12);
    height: rem(40);
    font-size: rem(16);
  }
}

.forgotPasswordButton {
  width: fit-content;
  margin-bottom: rem(20);
  padding-left: rem(24);
  background: none;
  border: none;
  color: #cdbbc9;
  text-align-last: left;

  @include mobile {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
}

.accept {
  margin-bottom: rem(40);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 11px;

  input[type="checkbox"] {
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid #cdbbc9;
    width: 16px;
    height: 16px;

    &:checked {
      appearance: auto;
      -webkit-appearance: auto;
      accent-color: #cdbbc9;
      background: red; /* Полупрозрачный фон при выборе */
    }
  }

  label {
    font-weight: 700;
    font-size: rem(15);
    color: #cdbbc9;
  }

  a {
    font-weight: 700;
    font-size: rem(15);
    color: var(--color-green);
  }

  .errorMessage {
    margin-right: auto;
  }
}

.oauth {
  padding-left: rem(24);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    padding-left: 0;
    flex-direction: column;
    gap: 13px;
  }
}

.oauthTitle {
  font-weight: 700;
  font-size: 15px;
  color: var(--color-orange);
}

.oauthButtons {
  display: flex;
  align-items: center;
  gap: rem(16);

  @include mobile {
    gap: 40px;
  }
}

.oauthButton {
  &:hover {
    opacity: 0.75;
  }
}
