.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: rem(48);
  column-gap: rem(68);
  padding-bottom: 200px;

  @include tablet {
    gap: rem(32);
  }

  @include mobile {
    grid-template-columns: 1fr;
    padding-bottom: rem(64);
  }
}

.editor {
  grid-column: 1 / 3;

  @include mobile {
    grid-column: 1 / 2;
  }
}

.submitButton {
  @include flex-center;
  grid-column: 2 / 3;
  width: 100%;
  height: rem(55);
  margin-top: rem(23);
  border: 2px solid var(--color-green-alt);
  border-radius: 16px;
  background-color: var(--color-pink);
  font-weight: 400;
  font-size: rem(20);
  color: #000;

  @include tablet {
    height: rem(50);
  }

  @include mobile {
    grid-column: 1 / 2;
    height: rem(40);
    font-size: rem(16);
  }
}
